h3{
    font-size: 30px !important;
}
.btn-success:hover{
    background-color: greenyellow;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 500ms;
    
    margin-top:60px;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px red};
    to {box-shadow: 1px 1px 38px yellow};
    
}